.about {
    color: rgba(255, 255, 255, 0.68);
    padding: 3em 0;
}

.aboutBio {
    padding: 0 2.5em;
    border-bottom: 1px solid #ffffff54;
}

.aboutBio p {
    padding-bottom: 1.5em;
}

.aboutBioPrimary {
    font-size: 1.4em;
}

.aboutBioSecondary {
    font-size: 0.9em;
    line-height: 1.5;
}

.aboutBioLinks {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-bottom: 2.5em;
}

.aboutImages {
    width: 100vw;
    white-space: nowrap;
    overflow: auto;
    border-bottom: 1px solid #ffffff54;
    padding: 1em 0;
}

.aboutImageWrapper {
    display: inline-block;
    width: 75%;
    padding: 1em;
    border-radius: 50vw;
}

.aboutImage {
    border-radius: 50vw;
}

.aboutSkills {
    width: 100vw;
    white-space: nowrap;
    overflow: auto;
    padding: 1.5em;
}

.aboutSkillsColumn {
    display: inline-block;
    width: 40%;
}

.aboutSkillsColumn h1 {
    text-transform: uppercase;
    font-size: var(--font-size-caption);
    padding-bottom: 1em;
}

.aboutSkillsColumn p {
    font-size: var(--font-size-small);
}
