.about {
    color: white;
    padding-top: clamp(120px, 20vw, 160px);
}

@media (min-width: 768px) {
    .about {
        height: calc(100vh - 66px);
        display: grid;
        grid-template-columns: 6fr 3fr 2.5fr;
        padding-top: 0;
    }
}

.aboutBio {
    padding: 0 2em;
    border-bottom: 1px solid #ffffff54;
}

@media (min-width: 768px) {
    .aboutBio {
        min-height: 100vh;
        overflow-y: scroll;
        display: grid;
        grid-template-rows: 70px 1fr 70px;
        gap: 2em;
        align-items: center;
        border-bottom: none;
    }
}

.aboutBio p {
    padding-bottom: 1.5em;
}

.aboutBioPrimary {
    font-size: 1.4em;
    max-width: 42ch;
}

.aboutBioSecondary {
    font-size: 0.9em;
    line-height: 1.5;
    max-width: 52ch;
}

.aboutBioLinks {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-bottom: 2.5em;
}

.aboutImages {
    width: 100vw;
    white-space: nowrap;
    overflow: auto;
    border-bottom: 1px solid #ffffff54;
    padding: 1em 0;
}

@media (min-width: 768px) {
    .aboutImages {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-left: 1px solid #ffffff54;
        border-bottom: none;
        padding: 2em 1em;
    }
}

.aboutImageWrapper {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65vw;
    padding: 1em;
    border-radius: 50vw;
}

@media (min-width: 600px) {
    .aboutImageWrapper {
        width: 40vw;
    }
}

@media (min-width: 768px) {
    .aboutImageWrapper {
        width: 100%;
    }
}

.aboutImage {
    border-radius: 50vw;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.aboutSkills {
    display: flex;
    gap: 4em;
    width: 100vw;
    white-space: nowrap;
    overflow: auto;
    padding: 4em 2em 2em 2em;
}

@media (min-width: 768px) {
    .aboutSkills {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        width: 100%;
        border-left: 1px solid #ffffff54;
        padding: 4em 0;
    }
}

.aboutSkillsColumn {
    display: inline-block;
    width: 40%;
}

@media (min-width: 768px) {
    .aboutSkillsColumn {
        display: inline-block;
        width: 60%;
        padding-bottom: 2vh;
        line-height: 1.6;
    }
}

.aboutSkillsColumn h1 {
    text-transform: uppercase;
    font-size: var(--font-size-caption);
    padding-bottom: 1em;
}

.aboutSkillsColumn p {
    font-size: var(--font-size-small);
}

.caption {
    text-align: center;
    padding-top: 1em;
    white-space: break-spaces;
}
