.footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.footerLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.6em;
    border-top: 1px solid #ffffff54;
    height: 72px;
    padding: 0 1em;
}

.footerLink {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerText {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 1em;
    font-size: var(--font-size-small);
    color: #ffffff70;
    border-top: 1px solid #ffffff54;
    height: 72px;
}

.footerTextGif {
    color: white;
}

@media (min-width: 640px) {
    .footer {
        flex-direction: row;
        border-top: 1px solid #ffffff70;
        padding: 1em;
    }

    .footerGif {
        border-top: 1px solid white;
    }

    .footerLinks {
        display: flex;
        justify-content: flex-start;
        border: none;
        height: auto;
        padding: 0;
    }

    .footerLink {
        flex: 0;
    }

    .footerText {
        justify-content: flex-end;
        width: 100%;
        gap: 1em;
        padding: 0;
        border: none;
        height: auto;
    }
}
