.footer {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100vw;
}

.footerLinks {
    display: flex;
    justify-content: space-around;
    gap: 0.6em;
}

.footerLink {
    flex: 1;
}

.footerText {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 3em 0 1em 0;
    gap: 1em;
    font-size: var(--font-size-small);
    color: #ffffff70;
}

@media (min-width: 640px) {
    .footer {
        flex-direction: row;
    }

    .footerLinks {
        display: flex;
        justify-content: flex-start;
    }

    .footerLink {
        flex: 0;
    }

    .footerText {
        justify-content: flex-end;
        width: 100%;
        gap: 1em;
        padding: 0;
    }
}
