:root {
    --background: #ffffff;
    --foreground: #000000;
    --accent: rgb(2, 55, 153);

    --font-primary: 'GT-Maru-Regular', Helvetica, sans-serif;
    --font-primary-bold: 'GT-Maru-Medium', Helvetica, sans-serif;
    --font-secondary: 'GT-Maru-Mega', Helvetica, sans-serif;
    --font-mono: 'GT-Maru-Mono', monospace;

    --font-size-caption: clamp(10px, 1vw, 12px);
    --font-size-small: clamp(10px, 1.5vw, 16px);
    --font-size-medium: clamp(14px, 2vw, 24px);
    --font-size-large: clamp(24px, 4vw, 42px);
    --font-size-xl: clamp(50px, 8vw, 90px);

    --min-window-size: 768px;
}

body {
    background-color: var(--background);
}
