.navBar {
    display: flex;
    /* width: 100vw; */
    margin: 1em;
    border-radius: 100vw;
    background-color: hsl(0, 0%, 93%);
}

.navBar:hover .indexActive,
.navBar:hover .workActive,
.navBar:hover .aboutActive {
    background-color: transparent;
}

.navBarButton {
    height: clamp(44px, 6vw, 54px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 100vw;
    font-family: var(--font-mono);
    font-size: var(--font-size-medium);
    color: black;
    text-decoration: none;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.navBar:hover .indexActive:hover,
.index:hover,
.indexActive {
    background-color: #52915c;
}

.navBar:hover .workActive:hover,
.work:hover,
.workActive {
    background-color: #faa740;
}

.navBar:hover .aboutActive:hover,
.about:hover,
.aboutActive {
    background-color: #f7c7e1;
}
