.header {
    width: 100%;
    display: flex;
    padding: 1em;
}

@media (min-width: 640px) {
    .header {
        justify-content: space-between;
    }
}

.headerList {
    gap: 0.6em;
    display: flex;
    width: 100%;
}

.headerListItem {
    flex: 1;
}

@media (min-width: 640px) {
    .headerListItem {
        flex: 0;
    }
}

.headerListItem:last-child {
    margin-right: 0.6em;
}

.headerLink {
    width: 100%;
    text-align: center;
}

.last {
    margin-left: none;
    display: block;
    width: 3.5em;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 640px) {
    .last {
        margin-left: auto;
        width: 3em;
    }
}
