.index {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100vw;
}

.indexLogo {
    align-self: center;
    position: relative;
    z-index: -1;
    font-family: var(--font-secondary);
    font-size: clamp(125px, 35vw, 1000px);
    letter-spacing: -0.0125em;
    line-height: 1;
    margin-top: -0.25em;
    color: #ffffff70;
}

.indexMarquee {
    display: flex;
    align-items: center;
    font-family: var(--font-primary);
    font-size: clamp(30px, 8vw, 50px);
    white-space: nowrap;
    overflow: auto;
    color: #ffffff70;
    border-top: 1px solid #ffffff70;
    height: 72px;
}

@media (min-width: 768px) {
    .indexMarquee {
        height: 1.5em;
        padding: 0.125em;
    }
}
