.index {
    height: 100vh;
    width: 100vw;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.indexLogo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    min-height: 200px;
    margin-top: 75px;
}

.indexLogoGif {
    display: none;
}

.indexMarquee {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    color: #ffffff70;
    border-top: 1px solid #ffffff70;
    min-height: 72px;
}

.indexMarqueeGif {
    color: black;
    background-color: white;
    border-top: none;
}

.backgroundWrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -2;
}

.backgroundImage {
    object-fit: cover;
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.logoDesktop svg {
    display: none;
}

@media (min-width: 768px) {
    .logoDesktop svg {
        display: block;
        height: 100%;
        width: 100%;
        padding: 1em;
    }
}

.logoMobile {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@media (min-width: 768px) {
    .logoMobile {
        display: none;
    }
}

.logoMobileLetter {
    display: block;
    height: calc(25% - 6px);
    margin-bottom: 4px;
    width: auto;
}

.logoMobileLetter svg {
    height: 100%;
    width: auto;
    cursor: pointer;
}
