.Index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.indexLogo {
    position: relative;
    z-index: -1;
    font-family: var(--font-secondary);
    font-size: clamp(125px, 35vw, 1000px);
    letter-spacing: -0.0125em;
    line-height: 1;
    margin-top: -0.25em;
    color: #52915c;
}

.indexCaption {
    font-family: var(--font-primary);
    font-size: clamp(15px, 5vw, 45px);
    margin: 0 1em 0 1em;
}
