.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffff70;
    padding: 2em 0;
}

.projectTitle {
    font-family: var(--font-secondary);
    font-size: 10vw;
    font-feature-settings: 'ss06';
    max-width: 15ch;
    text-align: center;
    line-height: 0.75;
}

.projectDescription {
    max-width: 30ch;
    font-size: clamp(18px, 2vw, 24px);
    padding: 1.5em;
}

@media (min-width: 768px) {
    .projectDescription {
        max-width: 45ch;
    }
}

.projectImageWrapper {
    padding: 1em;
}

@media (min-width: 768px) {
    .projectImageWrapper {
        padding: 0 6em;
    }
}

.projectImage {
    border-radius: 2vw;
}

.projectNav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 768px) {
    .projectNav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 6em;
    }
}

.projectNavLinks {
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 1em;
    border-top: 1px solid #ffffff54;
    height: 48px;
}

@media (min-width: 768px) {
    .projectNavLinks {
        border: none;
    }
}

.projectNavLink {
    display: flex;
    align-items: center;
    font-size: var(--font-size-small);
    text-transform: lowercase;
    color: #a42424;
    background-color: #ffffffaf;
}

.projectNavTags {
    display: flex;
    align-items: center;
    gap: 1em;
    border-top: 1px solid #ffffff54;
    border-bottom: 1px solid #ffffff54;
    padding: 1em;
    height: 48px;
}

@media (min-width: 768px) {
    .projectNavTags {
        border: none;
    }
}

.projectNavTag {
    display: flex;
    align-items: center;
    text-transform: lowercase;
    font-family: var(--font-mono);
    font-size: var(--font-size-small);
}
