.button {
    display: inline-block;
    appearance: none;
    text-align: center;
    border: 0;
    border-radius: 100vw;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffffff50;
    color: #ffffff70;
    font-family: var(--font-primary-bold);
    font-size: var(--font-size-medium);
    padding: 1em 1.3em;
    line-height: 1;
    cursor: pointer;
}

@media (min-width: 768px) {
    .button {
        padding: 0.4em 0.7em;
    }
}

.button:hover,
.button.active {
    color: var(--accent);
    background-color: #ffffffaf;
}

.buttonGif,
.buttonGif:focus {
    background-color: white !important;
    color: black;
}

.workButton {
    background-color: rgba(0, 0, 0, 0.109);
    color: rgba(0, 0, 0, 0.779);
}

.workButton:hover,
.workButton.active {
    background-color: rgb(0, 0, 0);
    color: rgba(230, 225, 225, 0.951);
}

.text-bold {
    font-family: var(--font-primary-bold);
}

.text-sm {
    font-size: var(--font-size-small);
    line-height: 1.29;
}

.text-md {
    font-size: var(--font-size-medium);
    line-height: 1.17;
}

.text-lg {
    font-size: var(--font-size-large);
    line-height: 1.028;
    letter-spacing: -0.075em;
}
